<template>
<div>
  <div id="buttons">
    <router-link tag="button" :to="{name: 'studysession'}">Start Study Session</router-link>
  </div>
  <div>
    <cards-in-deck-list
      v-bind:cards="cards"
      class="card-table"
      v-on:delete-card="deleteCard"
      >
      <br>
    </cards-in-deck-list>
    <available-card-list 
      v-bind:cards="cards"
      class="card-table"
      v-on:add-card="addCard"
    ></available-card-list>
  </div>
  </div>
</template>

<script>
import AvailableCardList from "./AvailableCardList";
import CardsInDeckList from "./CardsInDeckList";
import auth from "../auth.js";
export default {
  name: "addorremovecards",
  components: {
    AvailableCardList,
    CardsInDeckList,
  },
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: [],
        card: {
        cardId: "",
        deckId: "",
        userId: "",
        frontText: "",
        backText: "",
        tags: "",
        userName: ""
      },
    };
  },
  methods: {
    deleteCard(item, index) {
      fetch(`${process.env.VUE_APP_REMOTE_API}/card_deck/deletecard/` + this.$route.params.deckId + '/' + this.$route.params.cardId, {
        method: "DELETE",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: item.cardId
      })
        .then(response => {
         
          this.cards.splice(index, 1); // delete
          return response.json();  
        })
        .catch(err => console.error(err));
    },
      addCard(item, index) {
      fetch(`${process.env.VUE_APP_REMOTE_API}/card_deck/addcard/` + this.$route.params.deckId + '/' + this.$route.params.cardId, {
        method: "POST",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: item.cardId
      })
        .then(response => {
          
          this.cards.splice(index, 0, item) //add
          return response.json();
          })
      
        .catch(err => console.error(err));
    }
  }
};
</script>


<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

th {
  color:white;
}

#buttons { 
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
</style>
