<template>
  <div>
    <h1 class="table_title card-list">My Cards</h1>
    <b-table striped show-empty small :items="cards" :fields="fields">
      <template v-slot:cell(actions)="row">
        <b-button class="table-buttons" size="sm" v-on:click="editCard(row.item,row.index)">Edit</b-button>
        <b-button class="table-buttons" size="sm" v-on:click="deleteCard(row.item,row.index)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>


<script>
//import auth from "../auth.js";
export default {
  props: {
    cards: Array
  },
  data() {
    return {
      fields: [
        {
          key: "frontText",
          label: "Front Text",
          sortable: true,
          class: "text-center"
        },
        {
          key: "backText",
          label: "Back Text",
          sortable: true,
          class: "text-center"
        },
        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  methods: {
    editCard(item, index) {
      this.$emit("edit-card", item);
    },
    deleteCard(item, index) {
      this.cards.splice(index, 4); // delete
      this.$emit("delete-card", item);
      console.log(item);
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.table_title {
  background-color: black;
  height: 55px;
}

.table-buttons {
  margin-right: 5px;
}

.table {
  color: white;
}

.table td {
  color: white;
}

.table th 
{
  color: white;
}

h1 {
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

</style>