<template>
  <div>
    <h1 class="table_title cards-in-deck-list">Cards in Deck</h1>
    <b-table striped show-empty small  :items="cards" :fields="fields">
      <template v-slot:cell(actions)="row">
        <b-button class="table-buttons" size="sm" v-on:click="deleteCard(row.item,row.index)">Remove</b-button>
      </template>
    </b-table>
  </div>
</template>


<script>
import auth from "../auth.js";
export default {
  name: "getcardsbydeck",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: [],
      fields: [
        {
          label: "Add",
          sortable: false,
        },
        {
          key: "frontText",
          label: "Front Text",
          sortable: true,
  
        },
        {
          key: "backText",
          label: "Back Text",
          sortable: true,
       
        },
        {
          key: "tags",
          label: "Tags",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 30,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  created() {
    fetch(`${this.API_URL}/card/getcardsbydeck/` + this.$route.params.deckId, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
      })
      .catch(err => console.error(err));
  },
  methods: {
      deleteCard(item, index) {
      this.cards.splice(index, 1); // delete
      this.$emit("delete-card", item);
      console.log(item);
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.table_title {
 background-color: black;
  margin-top: 50px;
}


.table {
  color: rgb(144, 241, 135);
  text-align: left;
    width: 100% !important;
    color: white;
    margin-left: 10px;
}

.table_title {
  background-color:black
}

</style>
