<template>
  <div id="createdeck" class="create-deck">
    <form @submit.prevent="createdeck" onsubmit="alert('Your deck has been created.');" >
      <h1 class="title" >Create a Deck</h1>
      <div class="field">
        <label class="label" for="deckName">Deck Name</label>
        <input
          type="text"
          id="deckName"
          class="form-control"
          placeholder="Please enter text here."
          v-model="deck.deckName"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label class="label" for="deckDescription">Deck Description</label>
        <input
          type="text"
          id="deckDescription"
          class="form-control"
          placeholder="Please enter text here."
          v-model="deck.deckDescription"
          required
          autofocus
        />
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Deck</button>
    </form>
  </div>
</template>

<script>
import auth from "../auth.js";
export default {
  name: "createdeck",
  data() {
    return {
      deck: {
        deckName: "",
        deckDescription: ""
      }
    };
  },
  methods: {
    createdeck() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/deck/createdeck`, {
        method: "POST",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.deck)
      })
        .then(response => {
          if (response.ok) {
            this.deck.deckName = "";
            this.deck.deckDescription = "";
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
div {
  padding: 10px;
  margin: 10px;
}

.label {
  padding-right: 15px;
color: rgb(144, 241, 135);
font-family: "Indie Flower", cursive;
  /* color: rgb(14, 192, 14); */
}

h1 {
  color: rgb(144, 241, 135);
  padding: 0;
  font-family: "Indie Flower", cursive;
}

button {
  background-color: rgb(14, 192, 14);
  border-color: black;
}

.field {
  padding-bottom: 5px;
}



</style>