<template>
  <div id="createcard" class="create-card">
    <form @submit.prevent="createcard" onSubmit="alert('Your card has been created!')">
      <h1>Create a Card</h1>
      <div class="field">
        <label class="label" for="frontText">Front Text</label>
        <input
          type="text"
          id="frontText"
          class="form-control"
          placeholder="Please enter text here."
          maxlength="255"
          v-model="card.frontText"
          required
          autofocus
        />
      </div>
      <div class="field">
        <label class="label" for="backText">Back Text</label>
        <input
          type="text"
          id="backText"
          class="form-control"
          placeholder="Please enter text here."
          maxlength="255"
          v-model="card.backText"
          required
        />
      </div>
      <div class="field">
        <label class="label" for="tags">Tags</label>
        <input
          type="text"
          id="tags"
          class="form-control"
          placeholder="Please enter tag name."
          maxlength="50"
          v-model="card.tags"
          required
        />
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create Card</button>
    </form>
  </div>
</template>

<script>
import auth from "../auth.js";
export default {
  name: "createcard",
  data() {
    return {
      card: {
        frontText: "",
        backText: "",
        tags: ""
      }
    };
  },
  methods: {
    createcard() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/card/createcard`, {
        method: "POST",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.card)
      })
        .then(response => {
          if (response.ok) {
            this.card.frontText = "";//this.$router.push("/createcard");
            this.card.backText = "";
            this.card.tags = "";
          }
        }) 
        .then(window.location.reload())
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
div {
  padding: 10px;
  margin: 10px;
}

.label {
  padding-right: 15px;
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

h1 {
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

button {
  
  background-color: rgb(14, 192, 14);
  border-color: black;
  width:100%;
}

.field {
  padding-bottom: 5px;
}

</style>