<template>
  <div>
    <h1 class="table_title deck-list">My Deck</h1>
    <b-table striped show-empty small :items="decks" :fields="fields">
      <template v-slot:cell(actions)="row">
        <b-button class="table-buttons" size="sm" v-on:click="editDeck(row.item,row.index)">Edit</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  props: {
    decks: Array
  },
  data() {
    return {
      fields: [
        {
          key: "deckName",
          label: "Deck Name",
          sortable: true,
          class: "text-center"
        },
        {
          key: "deckDescription",
          label: "Deck Description",
          sortable: true,
          class: "text-center"
        },
        { key: "actions", label: "Actions" }
      ],
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  methods: {
    editDeck(item, index) {
      this.$emit("edit-deck", item);
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.table_title {
  background-color: black;
  height: 55px;
}

.table-buttons {
  margin-right: 5px;
}


.table {
  color: white;
}

.table td {
  color: white;
}

.table th 
{
  color: white;
}

h1 {
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

</style>