<template>
  <div>
    <h1 class="title">All Study Cards</h1>
    <div id="getallcards">
      <div v-for="item in cards" v-bind:key="item.cardId">
        <router-link v-bind:to="'/viewcardall/cardId/' + item.cardId">
          <div class="card">
            <p>{{item.frontText}}</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "getallcards",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: [],
    };
  },
  created() {
    fetch(`${this.API_URL}/card/getallcards`, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
      })
      .catch(err => console.error(err));
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
h1 {
  text-align: center;
}
.card {
  border: 3px black;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
}

/* .card:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
} */

#getallcards {
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p {
  color: #000000;
  text-decoration: none;
}

.title {
  padding-top: 20px;
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

h1 {
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

#minor {
  text-align: right;
  font-size: large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
</style>