<template>
  <div>
  <h1 class="title">All Study Decks</h1>
  <div id="getalldecks">
    <div v-for="item in decks" v-bind:key="item.deckId">
      <router-link v-bind:to="'/viewdeck/deckId/' + item.deckId">
      <div class=" deck card">
        <p>{{item.deckName}}</p>
      </div>
      </router-link>
    </div>
  </div>
  </div>
</template>

<script>
export default {
  name: "getalldecks",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      decks: []
    };
  },
  created() {
    fetch(`${this.API_URL}/deck/getalldecks`, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(decks => {
        this.decks = decks;
      })
      .catch(err => console.error(err));
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.deck {
  border: 3px black;
  width: 500px;
  height: 300px;
  border: 2px solid black;

  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

p {
    font-size: xx-large;
    padding-top: 40px;
      text-align: center;
  vertical-align: middle;
}
.deck:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

#getalldecks {
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title{
  padding-top: 20px;
  color: rgb(144, 241, 135);
  font-family: "Indie Flower", cursive;
}

</style>