<template>
  <div class="get-cards-by-deck">
    <h1>Cards in Current Deck</h1>
    <div id="buttons">
    <router-link tag="button" :to="{name: 'studysession'}">Start Study Session</router-link>
  </div>
    <div id="getcardsbydeck">
      <div v-for="item in cards" v-bind:key="item.cardId">
        <router-link v-bind:to="'/viewcard/cardId/' + item.cardId">
          <div class="card">
            <p id="major">{{item.frontText}}</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>


<script>
import auth from "../auth.js";
export default {
  name: "getcardsbydeck",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: []
    };
  },
  created() {
    fetch(`${this.API_URL}/card/getcardsbydeck/` + this.$route.params.deckId, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
      })
      .catch(err => console.error(err));
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.card {
  border: 3px black;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: x-large;
}

#major {
  padding-top: 40px;
  text-align: center;
  font-size: x-large;

}

#minor {
  text-align: right;
  padding-right: 10px;
  font-size: large;
}


#getcardsbydeck {
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

#buttons { 
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
</style>