<template>
  <div class="get-my-cards">
  <h1 class="title">My Cards</h1>
  <div id="getmycards">
    <div v-for="item in cards" v-bind:key="item.cardId">
      <div>
      <router-link v-bind:to="'/viewcard/cardId/' + item.cardId">
      <div class="card">
        <p>{{item.frontText}}</p>
      </div>
      </router-link>
      </div>
    </div>
  </div>
  </div>
</template>


<script>
import auth from "../auth.js";
export default {
  name: "getmycards",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: []
    };
  },
  created() {
    fetch(`${this.API_URL}/card/getcardsbyuserId/`, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
      })
      .catch(err => console.error(err));
  },
  methods: {

    }
  }
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.card {
  border: 3px black;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
}

#minor {
  text-align: right;
  font-size: large;
}

#getmycards {
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

.title {
  padding-top: 20px;
  color: rgb(144, 241, 135);
}

.table_title {
  background-color:black
}



</style>
