<template>
      <div>
      <p id="welcomeMessage"> Welcome!</p>
    </div>
</template>

<script>
import auth from '../auth';
export default {
  name: 'home',
  methods:{
      logout:function(token){
        auth.destroyToken(token);
        this.$router.push('/login')
      }
  }
}
</script>

<style scoped>

@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

#header {
  background-color:black
}


#welcomeMessage {
  color: white;
  font-size: 1000%;
  font-weight: 500;
  opacity: 70%;
  padding-top: 100px;
  margin-left: 18%;
  font-family: "Homemade Apple";
}

</style>
