<template>
  <div id="login" class="text-center">
    <form class="form-signin" @submit.prevent="login">
      <div
        class="alert alert-danger"
        role="alert"
        v-if="invalidCredentials"
      >Invalid username and password!</div>
      <div
        class="alert alert-success"
        role="alert"
        v-if="this.$route.query.registration"
      >Thank you for registering, please sign in.</div>
      <div class="img-container">
        <div>
          <img src="../Assets/3x5_Notecard.jpg" />
          <div class="card-img-overlay">
            <label for="username" class="sr-only">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Enter Your Username"
              v-model="user.username"
              required
              autofocus
            />
            <label for="password" class="sr-only">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Enter Your Password"
              v-model="user.password"
              required
            />
            <router-link class="register" :to="{ name: 'register' }">Need an account?</router-link>
            <br>
            <br>
            <b-button type="submit" pill variant="success">Sign in</b-button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</template>

<script>
import auth from "../auth";

export default {
  name: "login",
  components: {},
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      invalidCredentials: false
    };
  },
  methods: {
    login() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/account/login`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.user)
      })
        .then(response => {
          if (response.ok) {
            return response.text();
          } else {
            this.invalidCredentials = true;
          }
        })
        .then(token => {
          if (token != undefined) {
            if (token.includes('"')) {
              token = token.replace(/"/g, "");
            }
            auth.saveToken(token);
            this.$router.push("/");
          }
        })
        .catch(err => console.error(err));
    }
  }
};
</script>

<style scoped>
.form-control {
  padding: 12px;
  margin: 12px;
}

.register {
  padding: 10px;
  margin: 10px;
}

.img-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login {
  padding-top: 30px;
}

.card-img-overlay {
  padding-top: 250px;
}

img {
  padding-top: 220px;
}
</style>
