<template>
  <div>
    <div id="modifycard">
      <div class="card front">
        <p v-if="!updateCard" v-on:click="editText">{{card.frontText}}</p>
        <form v-else @submit.prevent="modifycard">
          <input
            class="form-control"
            placeholder="Enter New Text"
            v-model="card.frontText"
            required
          />
        </form>
      </div>
      <div class="back card">
        <div class="back">
          <div v-if="!updateCard">
            <p id="backtext" v-on:click="editText">{{card.backText}}</p>
            <p id="minor" v-on:click="editText">Tags: {{card.tags}}</p>
          </div>
          <div v-else>
            <form @submit.prevent="modifycard">
              <input class="form-control" placeholder="Enter New Text" v-model="card.backText" required />
              <input class="form-control" placeholder="Enter New Text" v-model="card.tags" required />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="buttons">
    <button style="margin-right: 6px;" v-if="updateCard" v-on:click="modifycard">Modify Card</button>
    <button v-if="updateCard" v-on:click="cancelEdit">Cancel</button>
    </div>
    <card-list
      class="card-table"
      v-on:edit-card="changeEditCard"
      v-on:delete-card="deleteCard"
      v-bind:cards="cards"
    ></card-list>
  </div>
</template>

<script>
import CardList from "./CardList";
import auth from "../auth.js";
export default {
  name: "modifycard",
  components: {
    CardList
  },
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      cards: [],
      card: {
        cardId: "",
        deckId: "",
        userId: "",
        frontText: "",
        backText: "",
        tags: "",
        userName: ""
      },
      updateCard: false
    };
  },

  created() {
    // Get all cards
    // And find the one that matches the id in the url
    fetch(`${this.API_URL}/card/getcardsbyuserId/`, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
        let cardToEdit = this.cards.find(
          card => card.cardId == this.$route.params.cardId
        );
        this.card = {
          cardId: cardToEdit.cardId,
          deckId: cardToEdit.deckId,
          userId: cardToEdit.userId,
          frontText: cardToEdit.frontText,
          backText: cardToEdit.backText,
          tags: cardToEdit.tags
        };
      })
      .catch(err => console.error(err));
  },
  methods: {
    editText() {
      this.updateCard = !this.updateCard;
      console.log("click");
    },
    cancelEdit() {
      this.updateCard = !this.updateCard;
      fetch(`${this.API_URL}/card/getcardbyid/` + this.$route.params.cardId, {
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      })
        .then(response => {
          return response.json();
        })
        .then(card => {
          this.card = card;
          this.$set(card, "isBackVisible", false);
        })
        .catch(err => console.error(err));
    },
    modifycard() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/card/modifycard`, {
        method: "PUT",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.card)
      })
        .then(response => {
          if (response.ok) {
            // Update the card list by replacing the card that we just changed

            let index = this.cards.findIndex(
              card => card.cardId == this.card.cardId
            );
            let updatedCard = {
              cardId: this.card.cardId,
              deckId: this.card.deckId,
              userId: this.card.userId,
              frontText: this.card.frontText,
              backText: this.card.backText,
              tags: this.card.tags
            };
            // C#: let index;
            // for(int i = 0; i < cards.length; i++){
            //   if(cards[i].cardId == this.card.cardId) {
            //     index = i;
            //     break'
            //   }
            // }
            this.cards.splice(index, 1); // delete
            this.cards.splice(index, 0, updatedCard); // add

            console.log(this.cards);
          }
        })
        .catch(err => {
          console.log(err);
        });
      this.updateCard = !this.updateCard;
    },
    changeEditCard(item) {
      this.card = {
        cardId: item.cardId,
        deckId: item.deckId,
        userId: item.userId,
        frontText: item.frontText,
        backText: item.backText,
        tags: item.tags
      };
    },
    deleteCard(item) {
      fetch(`${process.env.VUE_APP_REMOTE_API}/card/deletecard`, {
        method: "DELETE",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: item.cardId
      })
        .then(response => {
          return;
          //this.cards.splice(index, 1); // delete
        })

        .catch(err => console.error(err));
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.card {
  border: 3px black;
  width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  font-size: large;
}
.front {
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}

.back {
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}

#minor {
  text-align: right;
  font-size: large;
}

#modifycard {
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

.card-table {
  margin-left: 50px;
  margin-right: 50px;
}

#buttons { 
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.form-control {
  margin-top: 10px;
  margin-left: 0;
  padding: 0;
}
</style>