<template>
  <div>
    <div id="modifydeck">
      <div class="front deck">
        <div v-if="!updateDeck">
            <p v-on:click="editText">{{deck.deckName}}</p>
            <p id="minor"   v-on:click="editText">Description: {{deck.deckDescription}}</p>
      </div>
     
         <div v-else> 
          <form @submit.prevent="modifydeck">
            <input
              class="form-control"
              placeholder="Enter New Text"
              v-model="deck.deckName"
              required
            />
            <input
              class="form-control"
              placeholder="Enter New Text"
              v-model="deck.deckDescription"
              required
            />
          </form>
        </div>
         </div>
      </div>
      <div id="buttons">
    <button style="margin-right: 6px;" v-if="updateDeck" v-on:click="modifydeck">Modify Deck</button>
    <button v-if="updateDeck" v-on:click="cancelEdit">Cancel</button>
    </div>
    <deck-list 
    v-bind:decks="decks"  
    class="deck-table"
    v-on:edit-deck="changeEditDeck">
    </deck-list>
  </div>
</template>

<script>
import DeckList from "./DeckList";
import auth from "../auth.js";
export default {
  name: "modifydeck",
  components: {
    DeckList
  },
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      decks: [],
      deck: {
        deckId: "",
        userId: "",
        deckName: "",
        deckDescription: ""
      },
      updateDeck: false
    };
  },

  created() {
    fetch(`${this.API_URL}/deck/getalldecks/`, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(decks => {
        this.decks = decks;
        let deckToEdit = this.decks.find(
          deck => deck.deckId == this.$route.params.deckId
        );
        this.deck = {
          deckId: deckToEdit.deckId,
          userId: deckToEdit.userId,
          deckName: deckToEdit.deckName,
          deckDescription: deckToEdit.deckDescription
        };
      })
      .catch(err => console.error(err));
  },
  methods: {
    editText() {
      this.updateDeck = !this.updateDeck;
      console.log("click");
    },
    cancelEdit() {
      this.updateDeck = !this.updateDeck;
      console.log("click");
      fetch(`${this.API_URL}/deck/getdeck/` + this.$route.params.deckId, {
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      })
        .then(response => {
          return response.json();
        })
        .then(deck => {
          this.deck = deck;
        })
        .catch(err => console.error(err));
    },
    modifydeck() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/deck/modifydeck`, {
        method: "PUT",
        headers: {
          Authorization: "Bearer " + auth.getToken(),
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.deck)
      })
        .then(response => {
          if (response.ok) {
            // Update the deck list by replacing the deck that we just changed

            let index = this.decks.findIndex(
              deck => deck.deckId == this.deck.deckId
            );
            let updatedDeck = {
              deckId: this.deck.deckId,
              userId: this.deck.userId,
              deckName: this.deck.deckName,
              deckDescription: this.deck.deckDescription
            };
            this.decks.splice(index, 1); // delete
            this.decks.splice(index, 0, updatedDeck); // add

            console.log(this.decks);
          }
        })
        .catch(err => {
          console.log(err);
        });
      this.updateDeck = !this.updateDeck;
    },
       changeEditDeck(item) {
        this.deck = {
          deckId: item.deckId,
          userId: item.userId,
          deckName: item.deckName,
          deckDescription: item.deckDescription
      };
    },
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
.deck {
  border: 3px black;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  background-color: white;
}
.front {
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}

#minor {
  text-align: right;
  font-size: large;
}

#modifydeck {
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.deck:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

.deck-table {
  margin-left: 50px;
  margin-right: 50px;
}

#buttons { 
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.form-control {
  margin-top: 10px;
  margin-left: 0;
  padding: 0;
}
</style>