<template>
  <div id="register" class="text-center">
    <form class="form-register" @submit.prevent="register">
      <div
        class="alert alert-danger"
        role="alert"
        v-if="registrationErrors"
      >There were problems registering this user.</div>
      <div class="img-container">
        <div>
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/3x5_Notecard.jpg" />
          <div class="card-img-overlay">
            <label for="username" class="sr-only">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="Choose a Username"
              v-model="user.username"
              required
              autofocus
            />
            <label for="password" class="sr-only">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Choose a Password"
              v-model="user.password"
              required
            />
            <!-- <input
              type="password"
              id="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
              v-model="user.confirmPassword"
              required
            /> -->
            <router-link :to="{ name: 'login' }">Have an account?</router-link>
            <br>
            <br>
            <b-button type="submit" pill variant="success">Create Account</b-button>

          
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      user: {
        username: "",
        password: "",
        confirmPassword: "notworking",
        role: "user"
      },
      registrationErrors: false
    };
  },
  methods: {
    register() {
      fetch(`${process.env.VUE_APP_REMOTE_API}/account/register`, {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(this.user, this.confirmPassword)
      })
        .then(response => {
          if (response.ok) {
            this.$router.push({
              path: "/login",
              query: { registration: "success" }
            });
          } else {
            this.registrationErrors = true;
          }
        })

        .then(err => console.error(err));
    }
  }
};
</script>

<style scoped>
.form-control {
  padding: 12px;
  margin: 12px;
}

.login {
  padding: 10px;
  margin: 10px;
}

.img-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#register {
  padding-top: 30px;
}

.card-img-overlay {
  padding-top: 250px;
}

img {
  padding-top: 220px;
}
</style>

