<template>
  <section class="container">
    <div class="fixed">
      <p id="score">
        <center>Correct: {{correctAnswer}} Incorrect: {{wrongAnswer}} Percentage: {{Math.round(100* ((correctAnswer)/(correctAnswer+wrongAnswer)))}} %</center>
      </p>
    </div>
    <div
      v-if="current"
      class="fixed fixed--center"
      style="z-index: 3"
      :class="{ 'transition': isVisible }"
    >
      <Vue2InteractDraggable
        v-if="isVisible"
        :interact-out-of-sight-x-coordinate="500"
        :interact-max-rotation="15"
        :interact-x-threshold="200"
        :interact-y-threshold="200"
        :interact-event-bus-events="interactEventBus"
        interact-block-drag-down
        @draggedRight="emitAndNext('correct')"
        @draggedLeft="emitAndNext('incorrect')"
        
      >
        <div style="height: 100%">
          <div class="text cards flip-card fixed fixed--center" v-on:click="cardFlip">
            <div class="flip-card-inner" v-bind:class="{ flipped: isFlipped }">
              <div class="flip-card-front">
                <h2>{{current.frontText}}</h2>
              </div>
              <!-- <button @click="requestSelected">Reveal Answer</button> -->
              <div class="flip-card-back">
                <h2>{{current.backText}}</h2>
              </div>
            </div>
          </div>
        </div>
      </Vue2InteractDraggable>
    </div>
    <div v-if="next" class="text cards flip-card card--two fixed fixed--center" style="z-index: 2">
      <div style="height: 100%">
        <div class="text card fixed--center flip-card-front">
          <h2>{{next.frontText}}</h2>
        </div>
      </div>
    </div>
    <div
      v-if="index + 2 < cards.length"
      class="card--three cards fixed fixed--center"
      style="z-index: 1"
    >
      <div style="height: 100%"></div>
    </div>
    <div class="footer fixed">
      <div class="btn btn--decline" @click="incorrect">
        <i class="material-icons">incorrect</i>
      </div>
      <div class="btn btn--refresh" @click="index = 0; correctAnswer = 0; wrongAnswer = 0">
        <i class="material-icons">refresh</i>
      </div>
      <div class="btn btn--like" @click="correct">
        <i class="material-icons">correct</i>
      </div>
    </div>
  </section>
</template>
<script>
import { Vue2InteractDraggable, InteractEventBus } from "vue2-interact";
const EVENTS = {
  CORRECT: "correct",
  INCORRECT: "incorrect"
};
import auth from "../auth.js";

export default {
  name: "SwipeableCards",
  components: { Vue2InteractDraggable },
  data() {
    return {
      displayText: true,
      isVisible: true,
      index: 0,
      correctAnswer: 0,
      wrongAnswer: 0,
      interactEventBus: {
        draggedRight: EVENTS.CORRECT,
        draggedLeft: EVENTS.INCORRECT
      },
      API_URL: "https://localhost:44392/api",
      cards: [],
      isFlipped: false
    };
  },
  created() {
    fetch(`${this.API_URL}/card/getcardsbydeck/` + this.$route.params.deckId, {
      method: "GET",
      headers: {
        Authorization: "Bearer " + auth.getToken(),
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(cards => {
        this.cards = cards;
        this.$set("displayText", false);
      })
      .catch(err => console.error(err));
  },
  computed: {
    current() {
      return this.cards[this.index];
    },
    next() {
      return this.cards[this.index + 1];
    }
  },
  methods: {
    requestSelected() {
      this.displayText = true;
    },
    correct() {
      InteractEventBus.$emit(EVENTS.CORRECT);
      this.displayText = false;
      this.correctAnswer++;
    },
    incorrect() {
      InteractEventBus.$emit(EVENTS.INCORRECT);
      this.displayText = false;
      this.wrongAnswer++;
    },
    emitAndNext(event) {
      this.$emit(event, this.index);
      setTimeout(() => (this.isVisible = false), 200);
      setTimeout(() => {
        this.index++;
        this.isVisible = true;
      }, 200);
      this.displayText = false;
    },
    cardFlip() {
      this.isFlipped = !this.isFlipped;
      console.log("click");
    }
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

.container {
  background: #eceff1;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 60vh;
  z-index: 0;
  top: 0;
  left: 0;
  color: red;
  text-align: center;
  font-style: italic;
  font-family: "Engagement", cursive;
  background: white;

  clip-path: polygon(0 1%, 100% 0%, 100% 76%, 0 89%);
  display: flex;
  justify-content: space-between;
  span {
    display: block;
    font-size: 4rem;
    padding-top: 2rem;
    text-shadow: 1px 1px 1px red;
  }
  i {
    padding: 24px;
  }
}

.footer {
  width: 77vw;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding-bottom: 30px;
  justify-content: space-around;
  align-items: center;
}

.btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.02),
    0 10px 14px 1px rgba(0, 0, 0, 0.02), 0 4px 18px 3px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:active {
    transform: translateY(4px);
  }
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before {
      content: "";
    }
  }
  &--like {
    background-color: green;
    padding: 0.5rem;
    color: black;
  }
  &--decline {
    color: black;
    background-color: red;
  }
  &--refresh {
    color: black;
    background-color: blue;
  }
}

.flex {
  display: flex;
  &--center {
    align-items: center;
    justify-content: center;
  }
}

.fixed {
  position: fixed;
  align-items: center;
  vertical-align: middle;
  &--center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.cards {
  width: 80vw;
  height: 60vh;
  color: black;
  vertical-align: middle;

  &--one {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  &--two {
    transform: translate(-48%, -48%);
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
      0 10px 14px 1px rgba(0, 0, 0, 0.14), 0 4px 18px 3px rgba(0, 0, 0, 0.12);
  }
  &--three {
    transform: translate(-46%, -46%);
    box-shadow: 0 10px 13px -6px rgba(0, 0, 0, 0.2),
      0 20px 31px 3px rgba(0, 0, 0, 0.14), 0 8px 38px 7px rgba(0, 0, 0, 0.12);
  }
  .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    text-indent: 20px;
    vertical-align: middle;
  }
}

.transition {
  animation: appear 200ms ease-in;
}

@keyframes appear {
  from {
    transform: translate(-48%, -48%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

#minor {
  text-align: right;
  font-size: large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  position: absolute;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 500px;
  height: 300px;
}

.flip-card-front {
  background-color: white;
  color: black;
  backface-visibility: hidden;
  padding: 10% 0;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

#score {
  font-size: x-large;
}
</style>