<template>
  <div class="flip-card" v-on:click="cardFlip">
    <div class="flip-card-inner" v-bind:class="{ flipped: isFlipped }">
      <div class="flip-card-front">
        <img src="../Assets/testImg.jpg" alt="Avatar" style="width:300px;height:300px;" />
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isFlipped: false
    };
  },
  methods: {
    cardFlip() {
      this.isFlipped = !this.isFlipped;
      console.log("click");
    }
  }
};
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  background-color:white;
  color: black;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white;
  color: blue;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
</style>
