<template>
<div class="center-card">
  <div class="flip-card" v-on:click="cardFlip">
    <div
      class="flip-card-inner"
      v-bind:class="{ flipped: isFlipped }"
      style="vertica;-align: center"
    >
      <div class="flip-card-front">
        <p id="major">{{card.frontText}}</p>
      </div>
      <div class="flip-card-back">
        <p id="major">{{card.backText}}</p>
        <p id="minor">Tags: {{card.tags}}</p>
        <p id="minor">Creator: {{card.userName}}</p>
      </div>
    </div>
    <div class="links">
      <router-link id="buttons" tag="button" :to="{ name: 'modifycard' }">Modify Card</router-link>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "viewcard",
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      card: {
        cardId: "",
        userId: "",
        frontText: "",
        backText: "",
        tags: "",
        userName: ""
      },
      isFlipped: false
    }    
  },
  created() {
    fetch(`${this.API_URL}/card/getcardbyid/` + this.$route.params.cardId, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(card => {
        this.card = card;
        this.$set(card, "isBackVisible", false);
      })
      .catch(err => console.error(err));
  },
    methods: {
    cardFlip() {
      this.isFlipped = !this.isFlipped;
      console.log("click");
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

.center-card {
  position: fixed;
  margin-left: 30%;
}

#major {
  padding-top: 40px;
  text-align: center;
  font-size: xx-large;

}

#minor {
  text-align: right;
  padding-right: 10px;
  font-size: large;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  position: absolute;
  background-color: transparent;
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 500px;
  height: 300px;
}

.flip-card-front {
  background-color: white;
  color: black;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: white;
  color: blue;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.links {
  margin-top: 20px;
  grid-area: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

</style>
