<template>
  <div>
    <div>
      <div class="deck card" id="deck-card" v-bind:key="deck.deckId">
          <div class="front">
          <p id="major">{{deck.deckName}}</p>
          <p id="minor">Description: {{deck.deckDescription}}</p>
          </div>
      </div>
      <div id="buttons">
        <router-link style="margin-right: 6px" tag="button" :to="{ name: 'modifydeck' }">Modify Deck</router-link>
        <router-link tag="button" :to="{ name: 'addorremovecards' }">Add/Remove Cards</router-link>
      </div>
      <br>
      <get-cards-by-deck></get-cards-by-deck>
      
    </div>
  </div>
</template>

<script>
import GetCardsByDeck from './GetCardsByDeck';
export default {
  name: "viewdeck",
    components: {
    GetCardsByDeck,
  },
  data() {
    return {
      API_URL: "https://localhost:44392/api",
      deck: {
        deckId: "",
        userId: "",
        deckName: "",
        deckDescription: ""
      }
    };
  },
  created() {
    fetch(`${this.API_URL}/deck/getdeck/` + this.$route.params.deckId, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      }
    })
      .then(response => {
        return response.json();
      })
      .then(deck => {
        this.deck = deck;
      })
      .catch(err => console.error(err));
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

.deck {
  border: 3px black;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.deck:hover {
  box-shadow: 0 6px 10px 0 rgb(79, 161, 216);
}

#major {
  text-align: center;
  font-size: x-large;

}

#minor {
  text-align: right;
  padding-right: 10px;
  font-size: large;
}

.buttons {
  margin: auto;
}

#deck-card {
margin: auto;
margin-top: 20px;
}

#buttons { 
    grid-area: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
 
</style>
